In [1]:
import pandas as pd
from metric_calculation import time_series_wise_evaluation, step_wise_evaluation, month_wise_evaluation, match_actual_pred

In [2]:
pred_0 = pd.read_pickle('./predictions_calibration_20241202_144844_00.pkl')
pred_0

                     step_combined
month_id country_id
397      1                0.006546
         2                0.006546
         3                0.006546
         4                0.021313
         5                0.006546
...                            ...
432      242              0.027643
         243              0.066626
         244              0.289914
         245              2.622985
         246              1.910186

[6876 rows x 1 columns]

In [3]:
pred_1 = pd.read_pickle('./predictions_calibration_20241202_144844_01.pkl')
pred_1

                     step_combined
month_id country_id
398      1                0.006546
         2                0.006546
         3                0.006546
         4                0.024163
         5                0.006546
...                            ...
433      242              0.027643
         243              0.066626
         244              0.235538
         245              2.694948
         246              1.884130

[6876 rows x 1 columns]

In [4]:
pd.concat([pred_0, pred_1])

                     step_combined
month_id country_id
397      1                0.006546
         2                0.006546
         3                0.006546
         4                0.021313
         5                0.006546
...                            ...
433      242              0.027643
         243              0.066626
         244              0.235538
         245              2.694948
         246              1.884130

[13752 rows x 1 columns]

In [5]:
actual = pd.read_parquet('./calibration_viewser_df.parquet')
actual

                     gleditsch_ward  ln_ged_sb_dep  ln_ged_sb  ln_ged_ns  \
month_id country_id
121      1                    110.0        0.00000    0.00000   0.000000
         2                    115.0        0.00000    0.00000   0.000000
         3                     52.0        0.00000    0.00000   0.000000
         4                    101.0        0.00000    0.00000   0.000000
         5                    990.0        0.00000    0.00000   0.000000
...                             ...            ...        ...        ...
444      242                  510.0        0.00000    0.00000   0.000000
         243                  600.0        0.00000    0.00000   0.000000
         244                  435.0        0.00000    0.00000   0.000000
         245                  625.0        0.00000    0.00000   0.000000
         246                  626.0        2.70805    2.70805   4.442651

                     ln_ged_os  ln_acled_sb  ln_acled_sb_count  ln_acled_os  \
month_id country_id
121      1            0.000000     0.000000           0.000000     0.000000
         2            0.000000     0.000000           0.000000     0.000000
         3            0.000000     0.000000           0.000000     0.000000
         4            2.564949     0.000000           0.000000     0.000000
         5            0.000000     0.000000           0.000000     0.000000
...                        ...          ...                ...          ...
444      242          0.000000     0.000000           0.000000     0.000000
         243          0.000000     0.000000           0.000000     0.000000
         244          0.000000     0.000000           0.000000     0.000000
         245          0.000000     1.098612           1.791759     3.637586
         246          4.262680     5.043425           3.663562     4.663439

                     wdi_ag_lnd_frst_k2  wdi_dt_oda_odat_pc_zs  ...  \
month_id country_id                                             ...
121      1                     186021.5              52.583554  ...
         2                     153776.3             124.130666  ...
         3                       2420.6               4.083712  ...
         4                     520260.0               3.348328  ...
         5                       1761.3             162.074259  ...
...                                 ...                    ...  ...
444      242                   480900.0              49.192446  ...
         243                    56846.9              43.779123  ...
         244                     3400.4              83.487487  ...
         245                   192099.3              25.403984  ...
         246                    71570.0             149.614545  ...

                     topic_ste_theta5_stock_t1_splag  \
month_id country_id
121      1                                  0.104831
         2                                  0.060658
         3                                  0.000000
         4                                  0.118439
         5                                  0.000000
...                                              ...
444      242                                0.390513
         243                                0.077159
         244                                0.122334
         245                                0.221562
         246                                0.235467

                     topic_ste_theta6_stock_t1_splag  \
month_id country_id
121      1                                  0.214826
         2                                  0.189736
         3                                  0.000000
         4                                  0.283761
         5                                  0.000000
...                                              ...
444      242                                0.694083
         243                                0.163918
         244                                0.353962
         245                                0.890980
         246                                0.594125

                     topic_ste_theta7_stock_t1_splag  \
month_id country_id
121      1                                  0.123509
         2                                  0.073758
         3                                  0.000000
         4                                  0.223222
         5                                  0.000000
...                                              ...
444      242                                0.895559
         243                                0.252634
         244                                0.409309
         245                                0.687144
         246                                0.617717

                     topic_ste_theta8_stock_t1_splag  \
month_id country_id
121      1                                  0.006294
         2                                  0.009374
         3                                  0.000000
         4                                  0.012155
         5                                  0.000000
...                                              ...
444      242                                0.088032
         243                                0.175449
         244                                0.229926
         245                                0.354911
         246                                0.176132

                     topic_ste_theta9_stock_t1_splag  \
month_id country_id
121      1                                  0.005473
         2                                  0.009908
         3                                  0.000000
         4                                  0.017388
         5                                  0.000000
...                                              ...
444      242                                0.077069
         243                                0.023071
         244                                0.036055
         245                                0.055981
         246                                0.044155

                     topic_ste_theta10_stock_t1_splag  \
month_id country_id
121      1                                   0.760456
         2                                   0.348538
         3                                   0.000000
         4                                   0.584386
         5                                   0.000000
...                                               ...
444      242                                 0.603413
         243                                 0.077269
         244                                 0.111640
         245                                 0.223939
         246                                 0.212671

                     topic_ste_theta11_stock_t1_splag  \
month_id country_id
121      1                                   0.011488
         2                                   0.020794
         3                                   0.000000
         4                                   0.057243
         5                                   0.000000
...                                               ...
444      242                                 0.864067
         243                                 0.093924
         244                                 0.210577
         245                                 0.747085
         246                                 0.775779

                     topic_ste_theta12_stock_t1_splag  \
month_id country_id
121      1                                   0.215711
         2                                   0.276371
         3                                   0.000000
         4                                   0.303166
         5                                   0.000000
...                                               ...
444      242                                 0.820110
         243                                 0.094769
         244                                 0.505130
         245                                 0.655304
         246                                 0.596277

                     topic_ste_theta13_stock_t1_splag  \
month_id country_id
121      1                                   0.061809
         2                                   0.042777
         3                                   0.000000
         4                                   0.079764
         5                                   0.000000
...                                               ...
444      242                                 0.602916
         243                                 0.225787
         244                                 0.448542
         245                                 0.586769
         246                                 0.512199

                     topic_ste_theta14_stock_t1_splag
month_id country_id
121      1                                   0.136928
         2                                   0.133248
         3                                   0.000000
         4                                   0.208623
         5                                   0.000000
...                                               ...
444      242                                 0.853930
         243                                 0.364431
         244                                 0.551078
         245                                 0.717675
         246                                 0.580261

[60564 rows x 189 columns]

In [6]:
actual_data = {
    "month": [300, 300, 301, 301, 302, 302],
    "country": [1, 2, 1, 2, 1, 2],
    "ln_ged_sb_dep": [0, 1, 1, 2, 2, 3]
}
df_actual = pd.DataFrame(actual_data).set_index(['month', 'country'])
df_actual

               ln_ged_sb_dep
month country
300   1                    0
      2                    1
301   1                    1
      2                    2
302   1                    2
      2                    3

In [7]:
df_pred0 = pd.DataFrame({
    "month": [300, 300, 301, 301],
    "country": [1, 2, 1, 2],
    "value": [1, 2, 3, 4]
}).set_index(['month', 'country'])

df_pred1 = pd.DataFrame({
    "month": [301, 301, 302, 302],
    "country": [1, 2, 1, 2],
    "value": [2, 3, 4, 5]
}).set_index(['month', 'country'])

In [8]:
df_pred0, df_pred1

(               value
 month country
 300   1            1
       2            2
 301   1            3
       2            4,
                value
 month country
 301   1            2
       2            3
 302   1            4
       2            5)

In [9]:
step_wise_evaluation(df_actual, [df_pred0, df_pred1], 'ln_ged_sb_dep', [1, 2])

,RMSLE,CRPS,AP,Brier,Jeffreys,Coverage,EMD,SD,pEMDiv,Pearson,Variogram
step01,1.0,None,None,None,None,None,None,None,None,None,None
step02,2.0,None,None,None,None,None,None,None,None,None,None

In [10]:
pd.concat([df_pred0, df_pred1])

               value
month country
300   1            1
      2            2
301   1            3
      2            4
      1            2
      2            3
302   1            4
      2            5

In [11]:
matched_actual, matched_pred = match_actual_pred(df_actual, pd.concat([df_pred0, df_pred1]), "ln_ged_sb_dep")
matched_actual.sort_index(), matched_pred.sort_index()

(               ln_ged_sb_dep
 month country
 300   1                    0
       2                    1
 301   1                    1
       1                    1
       2                    2
       2                    2
 302   1                    2
       2                    3,
                value
 month country
 300   1            1
       2            2
 301   1            3
       1            2
       2            4
       2            3
 302   1            4
       2            5)

In [12]:
month_wise_evaluation(df_actual, [df_pred0, df_pred1], 'ln_ged_sb_dep')

,RMSLE,CRPS,AP,Brier,Jeffreys,Coverage,EMD,SD,pEMDiv,Pearson,Variogram
month300,1.000000,1.0,None,None,None,None,None,None,None,None,None
month301,1.581139,1.5,None,None,None,None,None,None,None,None,None
month302,2.000000,2.0,None,None,None,None,None,None,None,None,None

In [13]:
time_series_wise_evaluation(df_actual, [df_pred0, df_pred1], 'ln_ged_sb_dep')

,RMSLE,CRPS,AP,Brier,Jeffreys,Coverage,EMD,SD,pEMDiv,Pearson,Variogram
ts00,1.581139,1.5,None,None,None,None,None,None,None,None,None
ts01,1.581139,1.5,None,None,None,None,None,None,None,None,None